section {
  position: relative;
}
a,
a:hover {
  color: var(--text-color);
}
// Display Part of Top Menu CSS
.navbar {
  padding: 0px 25px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.navbar ul {
  display: flex;
  align-items: center;
  padding-top: 0;
}

.navbar-item {
  margin-right: 100px;
}

.navbar-logo {
  width: 10%;
}

.navbar-logo img {
  max-height: 50px;
  vertical-align: middle;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 47.9375em) {
  .navbar {
    padding: 13px 16px;
  }
  .navbar ul {
    flex-wrap: wrap;
  }
  .navbar-toggle {
    display: inline-flex;
    margin-right: auto;
    cursor: pointer;
  }
  .navbar-logo {
    padding-left: 0;
  }
  .navbar-item {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .navbar-hide {
    display: none;
  }

  .link {
    margin-right: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .button {
    margin-top: 10px;
    margin-right: 0;
  }
}
