//home section
section.home {
  margin-top: 50px;
}
#home {
  text-align: center;
  margin-bottom: 45px;
}
.home-header {
  color: var(--main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
}
.home-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  max-width: 39%;
  margin: 20px auto 0;
}
.btn-wrapper {
  display: inline-block;
  margin: 40px auto 0;
}

.categories-dot_pattern {
  width: 176px;
  height: 191px;
  position: absolute;
  z-index: -1;
}
.categories-ellipse {
  width: 367px;
  height: 367px;
  position: absolute;
  z-index: -1;
}
//categorie section
#categories {
  margin-top: 95px;
}
.imgs-wrapper {
  position: relative;
  width: 80%;
  margin: 50px auto 150px;
  text-align: center;
}
.categories-dot_pattern {
  top: -37px;
  left: 61px;
}
.categories-main_img {
  width: 75%;
  margin: auto;
}
.categories-ellipse {
  right: 45px;
  bottom: -90px;
}

@media (max-width: 74.9375em) {
  .categories-ellipse {
    width: 200px;
    height: 200px;
  }

  .categories-dot_pattern {
    width: 150px;
    height: 150px;
  }
  .col-m-7 {
    width: 60%;
    margin: 0 auto 30px;
    padding: 0;
  }
  .col-m-6 {
    width: 49%;
    margin-bottom: 30px;
  }

  .categories-ellipse {
    bottom: -45px;
  }
  .description {
    max-width: unset;
    width: 80%;
  }
}
@media (max-width: 47.9375em) {
  .col-s-12 {
    width: 100%;
    margin: 0 auto 30px;
    padding: 0 16px;
  }
  .btn-wrapper {
    display: block;
    margin: 40px auto 0;
    padding: 0 16px;
  }

  .categories-ellipse {
    width: 150px;
    height: 150px;
  }

  .categories-dot_pattern {
    width: 100px;
    height: 100px;
  }

  .description {
    max-width: unset;
    width: 100%;
  }
  .categories-main_img {
    width: 95%;
  }
  .categories-dot_pattern {
    left: -15px;
    top: -15px;
  }
  .categories-ellipse {
    right: -20px;
    bottom: -35px;
  }
}
