<app-navbar></app-navbar>
<section class="container home">
  <div id="home">
    <p class="home-header">{{ data.home.header }}</p>
    <p class="home-description description">
      {{ data.home.description }}
    </p>
    <div class="btn-wrapper">
      <app-primary-button
        value="تصفح التطبيقات"
        className="primary-btn"
      ></app-primary-button>
    </div>
  </div>
  <div id="categories">
    <div class="imgs-wrapper">
      <img class="categories-dot_pattern" [src]="data.categories.secImg" />

      <img class="categories-main_img" [src]="data.categories.majorImg" />

      <img class="categories-ellipse" [src]="data.categories.thirdImg" />
    </div>
  </div>
</section>
<app-improvements-section></app-improvements-section>
<app-applications></app-applications>
<app-footer></app-footer>
