div {
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px 90px;
  justify-content: center;
}
img {
  height: 25px;
  vertical-align: middle;
  width: 16px;
  margin-right: 10px;
  margin-bottom: 3px;
}
span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  white-space: nowrap;
}
