/* You can add global styles to this file, and also import other style files */

/*   global  */

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #8a57a3;
  --btn-color: #fdb515;
  --bg-color: #ecf8fc;
  --text-color: #000;
  --p-color: grey;
  --main-bg: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span,
a,
img {
  display: inline-block;
}
.container {
  padding-top: 15px;
  width: 85%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-bg {
  background-color: var(--main-bg);
}
.main-text {
  color: var(--header-color);
}
.p-text {
  color: var(--p-color);
}
.active {
  color: var(--main-color);
}
.primary-btn {
  text-align: center;
  border: 1px solid transparent;
  font-size: 1.2rem;
  transition: 0.2s;
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
}
.primary-btn {
  background: var(--main-color);
  color: var(--btn-color);
}
.sec-btn {
  background: var(--main-bg);
  color: var(--btn-color);
  cursor: pointer;
}
.btn:hover {
  box-shadow: 3px 3px 5px rgba(92, 92, 92, 0.5);
}
.normal-radius {
  border-radius: 5px;
}
@media (max-width: 74.9375em) {
  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 47.9375em) {
  .container {
    width: 99%;
    margin: 0 auto;
    padding: 0 16px;
  }
  .primary-btn {
    width: 95%;
  }
}
